
@{
    ViewBag.Title = "Add";
}

    <form method="post">
        <label>Name</label>
        <input id="name" type="text" name="Name" value="" required />
        <label>Surname</label>
        <input id="surname" type="text" name="Surname" value="" required/>
        <label>Adress</label>
        <input id="adress" type="text" name="Adress" value="" required/>
        <label>Email</label>
        <input id="name" type="email" name="Email" value="" required/>

        <div>
            <button type="submit" class="btn btn-success">Confirm</button>
        </div>
    </form>

