
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Akademetre.Models.Session.User> list = (List<Akademetre.Models.Session.User>)Session["users"];
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Adress</th>
                <th>Email</th>
            </tr>
            
        </thead>
        <tbody>
            @if (list != null)
            {
                foreach (var item in list)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Adress</td>
                        <td>@item.Email</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    <a href="/User/Add/" class="btn btn-primary">Add New</a>
</div>
<div class="form-group pull-right">
    @using (Html.BeginForm("Donwload", "User", FormMethod.Post))
    {
        if (list!=null)
        {
            <input type="submit" value="Dowload" class="btn btn-success" />
        }

    }
</div>

